@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Quicksand:wght@500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    font-family: Quicksand, sans-serif;
}

.konten{
    float: left;
    width : 75%;
    background-color:#90afc5 ;
}
aside{
    float: right;
    width: 25%;
}
.infotambahan{
    font-size: smaller;
}

.gambar-samping{
    position:static;
}

.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #90afc5;
    text-align: center;
    color: white;
}

/*START NAV*/
.navigation-list{
    background-color: #1e3d5941;
    /* Agar posisi navigasi tetap saat discroll*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation-list .logo-saya{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.ul-nav{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.li-nav{
    margin: 10px;
    padding: 20px;
}
.li-nav a{
    color: white;
}

.li-nav:hover{
    font-weight: bold;
    font-size: large;
}
/*SELESAI URUSAN NAV */

.social-media{
    text-align: center;
    background-color: #1e3d59 ;
}
.ul-sosmed{
    list-style-type: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kontak{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.li-sosmed{
    margin: 120px;
}
.li-sosmed a{
    color: white;
    font-size: 29px;
}
.li-sosmed:hover{
    transform: translateY(-12px);
}


.div-tabel{
    background-color: #1e3d59;
    color:white;
}

.title{
    text-align: center;

}
.container-konten{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: 1). jauh kiri-kanan, 2). jauh atas-bawah, 3).keburaman, 4). warna */
    border-radius: 5px;;

    padding: 20px;
    margin-top: 20px;
}



/* UNTUK UKURAN DEVICE MOBILE */
@media screen and (max-width: 500px) {
    .konten, aside{
      width: 100%;
      padding: 0;
    }
    .navigation-list{
        left: 0cap;
        right: auto;
    }
    .ul-nav{
        margin-left: 5px;
    }
    .li-nav{
        margin: 2px;
        padding: 8px;
    }
    .li-sosmed{
    margin: 15px;
    }
}
